@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

  /* <div className="flex flex-col justify-center p-5 md:px-36 bg-bsecondary font-mono text-white">
      <Header />
      <Main movies={movies}/>
    </div> */

#root {
    
    background: #10141E;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem;
}

input {
    color: white;
    background-color: #10141E;
    border-bottom: 1px solid white;
}
@media (min-width: 768px) {
    #root {
        padding-left: 9rem /* 144px */;
        padding-right: 9rem /* 144px */;
    }
}